<header>
  <mat-toolbar color="primary" class="h-20 p-20 justify-between">
    <div class="flex items-center gap-8">
      <button
        (click)="toggleSideNave()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="font-bold text-2xl">{{ title | titlecase }}</span>
    </div>

    <nav id="header-nav">
      <ul
        class="flex gap-8 items-center justify-center [&>li>a]:text-slate-50 hover:[&>li>a]:text-slate-300"
      >
        <li>
          <a
            routerLinkActive="active"
            routerLink="/home"
            class="transition-all duration-200 ease-in-out text-lg"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/about"
            class="transition-all duration-200 ease-in-out text-lg"
            >About</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/sachbearbeiter"
            class="transition-all duration-200 ease-in-out text-lg"
            >Sachbearbeiter</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/contact-us"
            class="transition-all duration-200 ease-in-out text-lg"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>
