<section class="flex flex-col gap-8">
  <nav class="bg-slate-100 [&>*]:text-slate-800 p-8 rounded-2xl">
    <h2 class="headline mt-0">aktionen</h2>

    <ul>
      <li
        *ngFor="let listItem of actionNavData"
        class="flex items-center transition-all ease-in-out py-2"
      >
        <a
          [routerLink]="['/home']"
          class="flex items-center gap-6 hover:text-indigo-600 transition-all duration-200 ease-in-out"
        >
          <span class="flex items-center text-indigo-600">
            <mat-icon>{{ listItem.icon }}</mat-icon>
          </span>
          <span class="first-letter:uppercase">{{ listItem.name }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="bg-slate-100 [&>*]:text-slate-800 p-8 rounded-2xl">
    <ul>
      <h2 class="headline mt-0">projekt explorer</h2>

      <li
        *ngFor="let listItem of projectExplorerData"
        (click)="toggleSideNave(listItem)"
        class="flex flex-col transition-all duration-200 ease-in-out py-1 hover:text-indigo-600"
      >
        <div
          class="sideNavTitle flex gap-6 transition-all duration-200 ease-in-out cursor-pointer"
          [ngClass]="listItem.id === customId ? 'active' : ''"
        >
          <span class="flex items-center text-indigo-600"
            ><mat-icon>folder</mat-icon></span
          >
          <span class="first-letter:uppercase">{{ listItem.name }}</span>
        </div>

        <div id="children" class="mt-2 ml-14" *ngIf="listItem?.children">
          <p
            *ngFor="let ch of listItem.children"
            class="text-slate-500 first-letter:uppercase transition-all ease-in-out cursor-pointer"
          >
            {{ ch.childName }}
          </p>
        </div>
      </li>
    </ul>
  </nav>
</section>
